@page "/counter"
@inject Csla.ApplicationContext ApplicationContext
@inject Csla.Blazor.State.StateManager StateManager
@inject Csla.State.ISessionManager SessionManager
@rendermode InteractiveAuto
@implements IDisposable

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>MyValue @MyValue</p>

@if (StateManager.IsStateAvailable)
{
    <p>Session @SessionManager.GetSession().Id</p>
}

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string? MyValue;

    private void IncrementCount()
    {
        currentCount++;
        ApplicationContext.LocalContext["test"] = currentCount;
        MyValue = ApplicationContext.LocalContext["test"]?.ToString();
    }

    protected override async Task OnInitializedAsync()
    {
        await StateManager.InitializeAsync();
        if (StateManager.IsStateAvailable)
        {
            var aValue = ApplicationContext.LocalContext["test"];
            MyValue = aValue?.ToString();
            if (!string.IsNullOrWhiteSpace(MyValue))
                currentCount = int.Parse(MyValue);
        }
    }

    public void Dispose()
    {
        StateManager.SaveState();
    }
}
